<div class=" ">
    <div class="row ">
        <div class="col-12 feature-card-container first">
                <h1 class=" top-title head-title  first-font-title">
                    13 Reasons Why
                </h1>

                <h1 class=" top-title sub-head-title  first-title">
                    I like you
                </h1>

                <p class="head-description first-font-title" style="font-size: 20px !important; font-style: italic;">
                  Some guys buy flowers. Some buy chocolates. Here's a little originality.
                </p>
    </div>

    <div class="row">
        <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:60px !important;">

        </h1>
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                        <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                            Understanding
                        </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description ">
                               You get me. You make it your duty to understand who I am. You dig deeper to see more
                               than what most people see at the surface. From the types of questions you ask to the
                               amount of focus you give me when I'm with you, I can tell that you genuinely want to know all of me.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                              Comfort Zone
                          </h1>
                          <!-- <a href='https://github.com/coreyarch1234/contendify' style='text-decoration: none; outline:none;' > <img id='contendify-pic' src='../images/contendify.png' width='50%' height='50%'></a> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description ">
                               You told me once that you are attracted to my ambition. I want to
                               have a successful career and that means broadening my horizons and taking on new challenges with confidence.
                               That's all external. You help me reach that same goal internally.

                               I can't remember the number of times I have stepped out of my comfort zone to meet you
                               waiting there with a smile and that's something I'll never take for granted.

                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                            <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                                Orgo
                            </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description ">
                               It's ORGO! Not O Chemistry! Talking to you feels organic. Natural. I don't have to try so hard.
                               I don't have to waste energy on responding to the pressures many people have when conversing with someone they like.
                               Sure, it becomes easier over time for those people. But with you, it was orgo from the start.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                            <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                                LMAO!
                            </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description ">
                             What's a relationship without some laughter? Tragic. Just tragic. Unless you don't like to laugh.
                             Yikes.

                             When I think back to the times we cracked up laughing, I can't help but smile. Like when I intimidated that
                             odd Davis student as we were walking back to your dorm. Or when I so terribly estimated how much water it takes to
                             cook some ravioli.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                            <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                                Intelligence
                            </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description ">
                             You're sharp. You have a passion for STEM, a curiosity for knowledge
                             and too much wit for your own good. I find that extremely attractive and plus, you have to be
                             pretty smart to keep up with a boyfriend like yours.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                            <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                                Flex
                            </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description ">
                             Alright. Even though you don't have muscles to flex, you are one of the
                             strongest people I have ever met. You are able to keep going in the most trying of times.
                             I truly admire the way you have supported your family throughout the events regarding your Mom.
                           </h1>
                           <h1 class="project-description ">
                             You said you were looking for a job. You should extract some of that infinite strength, bottle it up, give it to
                             a Silicon Valley entrepreneur and stack it up (that means make a lot of money).
                           </h1>

                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                            <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                                Staring is impolite
                            </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description ">
                             Staring is almost as bad as pointing in a crowded NYC subway, but you can stare at me all
                             day long with those eyes (smooth, I know...).

                           </h1>
                           <h1 class="project-description ">
                             You are truly gorgeous. If I told you that as many times as it crosses my mind,
                             you'd probably slap me.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>


    <div class="row">
        <div class="col-12 feature-card-container first">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                            <h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:75px !important;">
                                Growth Mindset
                            </h1>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description ">
                             We have had our fair share of obstacles. It was tough.
                             It felt awful for both of us, but it happens in every relationship. It's inevitable.

                             But, we always pull through stronger. It's not a coincidence that we are so good at overcoming challenges.
                             It's simple.

                             <p style="color:pink; font-weight: bold; font-size: 25px; ">We are made for each other. </p>
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <h1 class="head-title second-font-title" style="color:blue !important; padding-bottom: 25px; font-size:60px !important; font-family: Indie Flower, cursive;">
            By , Corey Harrilal
        </h1>
        <div class="col-12 feature-card-container sixth">
            <div class="half-card find">
                  <div class="posts">

                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>

                       </article>
                  </div>
              </div>
         </div>
    </div>
</div>
