<div class=" ">
    <div class="row ">
        <div class="col-12 feature-card-container first">
                <h1 class=" top-title head-title  first-font-title">
                    Corey Harrilal
                </h1>

                <h1 class=" top-title sub-head-title  first-title">
                    Full Stack Web Developer
                </h1>

                <p class="head-description first-font-title">
                    As a software engineer who studied at MIT, I am enthusiastic about using technology to improve how we use the tools of education and science
                    as a society.
                </p>
                <p class="head-description first-font-title">
                    I have done research at the Plasma and Fusion Center at MIT and have founded a non-profit called, <a href="http://www.teptu.com/">Teptu</a>, that strives to advance
                    opportunities in STEM and entrepreneurship for high schoolers.
                </p>
                <p class="head-description first-font-title">
                    I have worked as a backend engineer at Foldscope, a Stanford research company that produces ultra-affordable paper microscopes that allow anyone to observe the outside world on a
                    microscope level and share their findings with the world.
                </p>
                <div class="icon-center">
                    <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                    <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
                </div>
        </div>
    </div>

    <div class="row">
        <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:60px !important;">
            Applications
        </h1>
        <div class="col-12 feature-card-container second">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                           <a href='https://github.com/coreyarch1234/contendify' style='text-decoration: none; outline:none;' > <h1 class="head-title second-font-title"></h1></a>
                          <img id='contendify-pic' src='../images/contendify.png' width='50%' height='50%'>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description-foldscope ">
                               <a href="https://github.com/coreyarch1234/contendify">Contendify</a> is an educational tool that uses quizzes as a learning tool for students and provides
                               teaching content for teachers. Will be launched to over 3000 students at McMaster University under Professor Joe
                               Kim (PhD), an internationally recognized researcher in education.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container second">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:75px !important;">
                              MathPath
                          </h1>
                          <!-- <a href='https://github.com/coreyarch1234/contendify' style='text-decoration: none; outline:none;' > <img id='contendify-pic' src='../images/contendify.png' width='50%' height='50%'></a> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description-foldscope ">
                               MathPath uses powerful OCR technology
                               to convert handwritten math problems to a beautifully typed format.
                               Used KaTeX, Khan Academy’s Javascript Library for Tex math rendering.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container second">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <a href='https://github.com/coreyarch1234/contendify' > <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px;"></h1></a>
                          <img id='contendify-pic' src='https://static1.squarespace.com/static/57bccd1f3e00bea28d5766aa/t/59556e1d46c3c49715eb81e5/1498770974598/FoldscopeInstrumentsLogo.png' width='50%' height='50%'>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="project-description-foldscope ">
                               Worked with TED Fellow and Stanford Researcher and Professor, Manu Prakash.
                               Foldscopes are low-cost paper microscopes built to expand access to science.
                               Over 100,000 foldscopes launched in 135+ countries.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>
    <div class="row">
        <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:60px !important;">
            Education
        </h1>
        <div class="col-12 feature-card-container fourth">

            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <img id='mit-pic' src='../images/MIT.png' width='40%' height='40%'>
                          <!-- <img id='contendify-pic' src='../images/make-school.png' width='25%' height='25%'> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description " style="color:white !important; padding-top: 30px;">
                               Studied chemical engineering at Massachusetts Institute of Technology (MIT).
                               Favorite courses were Special Relativity and Linear Algebra.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>
    <div class="row">
        <div class="col-12 feature-card-container fourth">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <img id='mit-pic' src='../images/make-school.png' width='40%' height='40%'>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description " style="color:white !important; padding-top: 30px;">
                               An accelerated Y-Combinator backed college for software developers and
                               technical cofounders. Studied computer Science, product Development, and entrepreneurship.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>
    <div class="row">
        <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:60px !important;">
            Organizations
        </h1>
        <div class="col-12 feature-card-container fifth">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <!-- <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:35px !important;">
                              Teptu
                          </h1> -->
                          <a href="http://www.teptu.com/"><h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:35px !important;">

                          </h1></a>
                           <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/Bc52EBbEiV8" allowfullscreen="true"></iframe>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description " style="color:black !important; padding-top: 50px;">
                              Founded and directed  <a href="https://github.com/coreyarch1234/contendify">Teptu</a>, a non-profit for the advancement of STEM and
                              Entrepreneurship for high schoolers. Landed sponsorships from Microsoft and WeWork.
                              Managed a team of 12 to organize a science competition where over 300 students
                              applied.
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>
    <div class="row">
        <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:60px !important;">
            Publications
        </h1>
        <div class="col-12 feature-card-container sixth">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <!-- <h1 class="head-title second-font-title" style="color:black !important; padding-bottom: 25px; font-size:35px !important;">
                              Teptu
                          </h1> -->
                          <a href=""><h1 class="head-title second-font-title" style="color:white !important; padding-bottom: 25px; font-size:35px !important;">

                          </h1></a>
                          <img id='mit-pic' src='../images/shsat.png' width='30%' height='30%'>
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class=" project-description " style="color:white !important; padding-top: 65px;">
                              Co-published a Amazon Best-Seller test-prep book for the <a href="https://www.amazon.com/SHSAT-Specialized-School-Admissions-Brothers/dp/0692686835/ref=sr_1_4?s=books&ie=UTF8&qid=1510542372&sr=1-4&keywords=shsat">SHSAT</a>
                              (Specialized High School Admissions Test).
                           </h1>
                       </article>
                  </div>
              </div>
         </div>
    </div>
</div>
