<div class=" ">
    <div class="row ">
        <div class="col-12 feature-card-container first">

                <h1 class=" top-title head-title  first-font-title">
                    Corey Harrilal
                </h1>

                <h1 class=" top-title sub-head-title  first-title">
                    Full Stack Web Developer
                </h1>

                <p class="head-description first-font-title">
                    As a software engineer who studied at MIT, I am enthusiastic about using technology to improve how we use the tools of education and science
                    as a society.
                </p>
                <p class="head-description first-font-title">
                    I have done research at the Plasma and Fusion Center at MIT and have founded a non-profit called, <a href="http://www.teptu.com/">Teptu</a>, that strives to advance
                    opportunities in STEM and entrepreneurship for high schoolers. I managed a team of 12 to organize a science compeititon where over 300 NYC high schoolers applied.
                    Teptu has been sponsored by Microsoft and WeWork.
                </p>
                <p class="head-description first-font-title">
                    I have worked as a backend engineer at Foldscope, a Stanford research company that produces ultra-affordable paper microscopes that allow anyone to observe the outside world on a
                    microscope level and share their findings with the world.
                </p>
                <div class="contain-buttons">
                    <div class="create text-center">
                        <a href="https://github.com/coreyarch1234" class="fa fa-github"></a>
                    </div>
                </div>
        </div>
    </div>
    <!-- <div class="row ">
        <div class="col-12 feature-card-container second">
                <h1 class="head-title second-font-title">
                    TEPTU 2017
                </h1>
                <p class="head-description second-font-description">
                    Showcase is partnering with Teptu. You know, the Science Research & Entrepreneurship Competition. Submit a video explaining your
                    research project. Videos will be judged and the top 3 winners will win automatic entry to TEPTU 2017.
                </p>
                <div class="contain-buttons">
                    <div class="teptu text-center">
                        <a href="http://www.teptu.com/application1.html" target="_blank" role="button" class="btn btn-primary btn-responsive button-teptu">TEPTU</a>
                    </div>
                    <div class="create text-center">
                        <a href="/new" role="button" class="btn btn-primary btn-responsive  button-create">CREATE</a>
                    </div>
                </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-12 feature-card-container second">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title">
                              BE CREATIVE
                          </h1>
                          <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/Qq9BzleH8xc" allowfullscreen="true"></iframe>
                          <!-- <div class="contain-buttons">
                              <div class="create text-center">
                                  <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                              </div>
                          </div> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="head-title second-font-title">
                               SHOW PASSION
                           </h1>
                           <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/jbPJDU0_K4A" allowfullscreen="true"></iframe>
                           <!-- <div class="contain-buttons">
                               <div class="create text-center">
                                   <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                               </div>
                           </div> -->
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container third">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title">
                              EXPRESS YOURSELF
                          </h1>
                          <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/VQ4LIk_3gAs" allowfullscreen="true"></iframe>
                          <!-- <div class="contain-buttons">
                              <div class="create text-center">
                                  <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                              </div>
                          </div> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="head-title second-font-title">
                               CHALLENGE YOURSELF
                           </h1>
                           <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/DYXDz_yu2m4" allowfullscreen="true"></iframe>
                           <!-- <div class="contain-buttons">
                               <div class="create text-center">
                                   <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                               </div>
                           </div> -->
                       </article>
                  </div>
              </div>
         </div>
    </div>
<!--
    <div class="row ">
        <div class="col-12 feature-card-container third">
                <h2 class="head-title second-font-title">
                    Be Creative
                </h2>
                <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/Qq9BzleH8xc" allowfullscreen="true"></iframe>
                <div class="contain-buttons">
                    <div class="teptu text-center">
                        <a href="http://www.teptu.com/application1.html" target="_blank" role="button" class="btn btn-primary btn-responsive button-teptu">TEPTU</a>
                    </div>
                    <div class="create text-center">
                        <a href="/new" role="button" class="btn btn-primary btn-responsive  button-create">CREATE</a>
                    </div>
                </div>
        </div>
    </div> -->
</div>
