<div class="container">
    <div class="row">
        <div class="col-12 feature-card-container">
                <h1 class="head-title">
                    SHOWCASE
                </h1>
                <p class="head-description">
                    Think you know a scientific concept? Show us by making a short video of you explaining it.
                </p>
                <img class="img-responsive head-image center-block" src="/images/science.png" alt="Picture">
        </div>
    </div>
    <div class="row">
        <div class="col-12 feature-card-container">
                <h1 class="head-title">
                    SHOWCASE
                </h1>
                <p class="head-description">
                    Think you know a scientific concept? Show us by making a short video of you explaining it.
                </p>
                <img class="img-responsive head-image center-block" src="/images/science.png" alt="Picture">
        </div>
    </div>
    <div class="row">
        <div class="col-12 feature-card-container">
                <h1 class="head-title">
                    Unleash your creativity like...
                </h1>
                <iframe class=" embed-responsive-item center-block" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/{{this.youtubeToken}}" allowfullscreen="true"></iframe>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class=" head-wrapper">
        <div class="container banner">
            <div class="first-feature">
                <div class="container-flex px3">
                    <div class="first-feature-section">
                        <div class="row">
                            <div class="col col-12">
                                <div class="feature-card-container">
                                    <div class="video-left">
                                      <iframe frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/{{this.youtubeToken}}" allowfullscreen="true"></iframe>
                                    </div>
                                    <h2 class="feature-text">
                                        Unleash your creativity like...
                                    </h2>
                                    <button type="button" class="btn btn-primary btn-md create-video" id="direct-login">Enter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class=" head-wrapper">
        <div class="container banner">
            <div class="first-feature">
                <div class="third-container-flex px3">
                    <div class="first-feature-section">
                        <div class="row">
                            <div class="col col-12">
                                <div class="feature-card-container">
                                    <div class="video-left">
                                      <iframe frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/{{this.youtubeToken}}" allowfullscreen="true"></iframe>
                                    </div>
                                    <h2 class="third-feature-text">
                                        Be Inventive, Curious, Yourself
                                    </h2>
                                    <button type="button" class="btn btn-primary btn-md create-video" id="direct-login">Enter</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
