<div class="container">
    <div class="row">
        <div class="col-12 feature-card-container first">
                <h1 class="head-title first-font-title">
                    SHOWCASE
                </h1>
                <p class="head-description first-font-title">
                    Think you know a scientific concept? Show us by making a short video explaining it.
                </p>
                <img class="img-responsive head-image center-block first-font-description" src="/images/science.png" alt="Picture">
                <div class="contain-buttons">
                    <div class="create text-center">
                        <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">CREATE</a>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 feature-card-container second">
                <h1 class="head-title second-font-title">
                    TEPTU 2017
                </h1>
                <p class="head-description second-font-description">
                    Showcase is partnering with Teptu. You know, the Science Research & Entrepreneurship Competition. Submit a video explaining your
                    research project. Videos will be judged and the top 3 winners will win automatic entry to TEPTU 2017.
                </p>
                <div class="contain-buttons">
                    <div class="teptu text-center">
                        <a href="https://www.teptu.com/" target="_blank" role="button" class="btn btn-primary btn-responsive button-teptu">TEPTU</a>
                    </div>
                    <div class="create text-center">
                        <a href="/new" role="button" class="btn btn-primary btn-responsive  button-create">CREATE</a>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 feature-card-container third">
                <h2 class="head-title second-font-title">
                    SHOWCASE Example
                </h2>
                <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/Qq9BzleH8xc" allowfullscreen="true"></iframe>
                <div class="contain-buttons">
                    <div class="teptu text-center">
                        <a href="https://www.teptu.com/" target="_blank" role="button" class="btn btn-primary btn-responsive button-teptu">TEPTU</a>
                    </div>
                    <div class="create text-center">
                        <a href="/new" role="button" class="btn btn-primary btn-responsive  button-create">CREATE</a>
                    </div>
                </div>
        </div>
    </div>
</div>
