<div class="container jumbotron">
    <div class="col-sm-offset-3 col-sm-6">
        <legend>Login to your ShowCase account.</legend>
        <form id='login'>
            <input type="email" name='email' class="form-control" id="email" placeholder="Email"><br>
            <input type="password" name='password' class="form-control" id="password" placeholder="Password"><br>
            <button type='submit' class="btn btn-primary btn-responsive button-create-showcase" style="background-color:orange;">Login</button>
        </form>
        <a href="/signup" role="button" class="btn btn-primary btn-responsive button-create-showcase">Create New Account</a>

    </div>
</div>
