<div class="container ">
    <div class="row ">
        <div class="col-12 feature-card-container ">

                <h1 class="  show-submission-title">
                    Check out the ShowCase from last year!
                </h1>

                <!-- <p class="head-description first-font-title">
                    Your submissions will show up here! Good luck.
                </p> -->
        </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container second">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title">

                          </h1>
                          <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/Qq9BzleH8xc" allowfullscreen="true"></iframe>
                          <!-- <div class="contain-buttons">
                              <div class="create text-center">
                                  <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                              </div>
                          </div> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="head-title second-font-title">

                           </h1>
                           <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/jbPJDU0_K4A" allowfullscreen="true"></iframe>
                           <!-- <div class="contain-buttons">
                               <div class="create text-center">
                                   <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                               </div>
                           </div> -->
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container third">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title">

                          </h1>
                          <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/VQ4LIk_3gAs" allowfullscreen="true"></iframe>
                          <!-- <div class="contain-buttons">
                              <div class="create text-center">
                                  <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                              </div>
                          </div> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="head-title second-font-title">

                           </h1>
                           <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/DYXDz_yu2m4" allowfullscreen="true"></iframe>
                           <!-- <div class="contain-buttons">
                               <div class="create text-center">
                                   <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                               </div>
                           </div> -->
                       </article>
                  </div>
              </div>
         </div>
    </div>

    <div class="row">
        <div class="col-12 feature-card-container fourth">
            <div class="half-card find">
                  <div class="posts">
                      <article>
                          <h1 class="head-title second-font-title">

                          </h1>
                          <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/rq5iOXdHgNo" allowfullscreen="true"></iframe>
                          <!-- <div class="contain-buttons">
                              <div class="create text-center">
                                  <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                              </div>
                          </div> -->
                      </article>
                 </div>
             </div>
             <div class="half-card find">
                   <div class="posts">
                       <article>
                           <h1 class="head-title second-font-title">
                               
                           </h1>
                           <iframe class=" embed-responsive-item center-block video" frameborder="0" width="450" height="315" src="https://www.youtube.com/embed/RdtGFDyDHyc" allowfullscreen="true"></iframe>
                           <!-- <div class="contain-buttons">
                               <div class="create text-center">
                                   <a href="/new" role="button" class="btn btn-primary btn-responsive button-create-showcase">COMPETE TODAY</a>
                               </div>
                           </div> -->
                       </article>
                  </div>
              </div>
         </div>
    </div>
</div>



<!-- <div class="container">
    <div class="col-sm-offset-3 col-sm-6 ">
        <p>{{post.body}}</p>
        <form id='new-comment'>
            <legend>Make a Comment</legend>
            <label for='body'>Comment</label>
            </br>
            <input type="text" class="form-control" placeholder= "Enter a comment" name="description"/>
            </br>
            <input type="text" class="form-control" value="{{post._id}}" name="post"/>
            </br>
            <button type='submit'>Save</button>
        </form>

        <legend>Comments</legend>
        <ul class="list-group">
            {{#each post.comments}}
                <li class='list-group-item-comment'>
                    <p>{{this.description}}</p>
                    </br>
                </li>
            {{/each}}
        </ul>
    </div>
</div> -->
