<div class="">

    <div class="row ">
        <div class="">
            <article>
                <p class="new-head-description new-second-font-description">
                    <img id='contendify-pic' src='../images/resume.png' width='80%' height='80%'>
                </p>
            </article>
       </div>
    </div>
</div>
