<div class="container">
    <div class="row jumbotron">
        <div class="col-md-12 new-feature-card-container new-second">
                <h1 class="new-head-title new-second-font-title">
                    Congrats!
                </h1>
                <p class="new-head-description new-second-font-description" >
                    You submitted your ShowCase video. We will email you with next steps. Good luck and we can't wait to see you at
                </p>
                <div class="contain-buttons">
                    <div class="create text-center">
                        <a href="/show-submissions" role="button" class="btn-xl btn-primary btn-responsive button-create-showcase">SEE THE WHOLE SHOWCASE</a>
                    </div>
                </div>
        </div>
    </div>
</div>
