<div class="container">
    <div class="row jumbotron">
        <div class="col-md-12 new-feature-card-container new-second">
                <h1 class="new-head-title new-second-font-title">
                    Congrats!
                </h1>
                <p class="new-head-description new-second-font-description" style="border-bottom:1px solid black;">
                    You submitted your ShowCase video. We will email you with next steps. Good luck and we can't wait to see you at
                </p>
        </div>
    </div>
</div>
