body {
    background: white;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


.head-wrapper{
    /*background-image: url(/uploads/5/5/0/3/55034571/background-images/732955881.jpg) !important;*/
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 100% !important;
    background-color: transparent !important;
    background: inherit;
}

.container-flex{
    background-color: #2bde96;
    height: 35em;
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
}

.first{
    background-color: #ff687b;
}

.first-font-description{
    color: #FFFFFF !important;
    padding-bottom: 5%;
}

.first-font-title{
    color: #FFFFFF !important;
}

.second{
    background-color: #2752ff;
}

.second-font-description{
    color: #FFFFFF !important;
    padding-bottom: 5%;
}

.second-font-title{
    color: #FFFFFF !important;
}

.third{
    background-color: #ff7d5f;
}

.third-font{
    color: #FFFFFF !important;
}

.first-feature-section{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.feature-card-container{
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}


.third-feature-text{
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1em;
    width: 40%;
    font-size: 60px;
    font-weight: 350;
    line-height: 1.5em;
    color: black;
}


.head-title{
    text-align: center;
    padding-top: 1.5em;
    width: 100%;
    font-size: 90px;
    font-weight: 300;
    color: black;
}

.video{
    padding-top: 1em;
    padding-bottom: 2em;
}

.button-teptu {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}

.button-create-showcase {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}



.button-create {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}

.head-description{
    text-align: center;
    padding-top: 0.2em;
    width: 100%;
    font-size: 25px;
    font-weight: 200;
    color: black;
    line-height: 1.5em;
    padding-right: 20%;
    padding-left: 20%;
    text-transform: lowercase;
}
