body {
    background: white;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: #a77dc2 !important;

}

a {
    background-color:transparent !important;
}

.fa {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}


.icon-center{
    margin: auto;
    text-align: center;
}

#contendify-pic {
    margin-left: 25%;
    padding-top: 5px;

}

#mit-pic{
    margin-left: 37%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.head-wrapper{
    /*background-image: url(/uploads/5/5/0/3/55034571/background-images/732955881.jpg) !important;*/
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 100% !important;
    background-color: transparent !important;
    background: inherit;
}

.container-flex{
    background-color: #2bde96;
    height: 35em;
    width: 100% !important;
    /*max-width: 1040px;
    margin-right: auto;
    margin-left: auto;*/
}

.first{
    background-color: #a77dc2;
}

.show-submission-title{
    /*background-color: #52EDC7;*/
    color: #4A4A4A !important;
    text-align: center;
    width: 100%;
    font-weight: 400;
    color: black;
}

.first-font-description{
    color: #E9EBF8 !important;
    padding-bottom: 5%;
}

.first-font-title{
    color: #FFF !important;
}


.second{
    background-color: #F3A712;
}

.third{
    background-color: #273E47;
}

.second-font-description{
    color: #FFFFFF !important;
    padding-bottom: 5%;
}

.second-font-title{
    color: #FFFFFF !important;
    font-size: 2px !important;
}


.fourth{
    /*background-color: #ff7d5f;*/
    /*background-color: white;*/
    background-color: #273E47;

}

.fifth {
    background-color:#F3A712;
}

.sixth {
    background-color: #273E47
}

.third-font{
    color: #FFFFFF !important;
}

.first-feature-section{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.feature-card-container{
    overflow: hidden;
    position: relative;
}


.third-feature-text{
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1em;
    width: 40%;
    font-size: 60px;
    font-weight: 350;
    line-height: 1.5em;
    color: black;
}

.head-title{
    text-align: center;
    padding-top: .2em;
    width: 100%;
    font-size: 60px;
    font-weight: 300;
}

.sub-head-title{
    text-align: center;
    padding-top: .2em;
    width: 100%;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: .5em;
    color: #ffc3a0 !important;
}


.video{
    padding-top: 1em;
    padding-bottom: 2em;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 30px !important;
    border-radius: 10px;
}

.button-teptu {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}

.button-create-showcase {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}



.button-create {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2em;
}

.head-description{
    text-align: center;
    /*padding-top: 0.1em;*/
    width: 100%;
    font-size: 18px;
    font-style: normal;
    line-height: 2.0em;
    padding-right: 22%;
    padding-left: 22%;
    /*text-transform: lowercase;*/
}

.project-description{
    text-align: left;
    /*padding-top: 0.1em;*/
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    line-height: 2em;
    padding-right: 22%;
    padding-left: 22%;
    /*text-transform: lowercase;*/
}

.project-description-foldscope{
    text-align: left;
    /*padding-top: 0.1em;*/
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    line-height: 2em;
    padding-right: 22%;
    padding-left: 22%;
    color: black !important;
    /*text-transform: lowercase;*/
}

.half-card{
    width: 50%;
    float: left;
    border-radius: 5px;
}


/*.find {
  margin-top: 50px;
  background-color:white;
  margin-right: 35px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}*/

/*.posts{
  margin: 0 0 2em 0 !important;
}*/



/*Post New Page*/

.new-feature-card-container{
    overflow: hidden;
    position: relative;
    /*margin-bottom: 40px;*/
}

.new-second{
    /*background-color: #ff7d5f;*/
    background-color: white;
}

.new-second-font-description{
    /*color: #FFFFFF !important;*/
    color: black;
    padding-bottom: 5%;
}

.new-second-font-title{
    /*color: #FFFFFF !important;*/
    color: black;
}

.new-head-description{
    text-align:left;
    padding-top: 0.2em;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: black;
    line-height: 1.5em;
    padding-right: 20%;
    /*padding-left: 20%;*/
    /*text-transform: lowercase;*/
}

.new-head-title{
    /*text-align:center;*/
    padding-top: 1.5em;
    width: 100%;
    font-size: 40px;
    font-weight: 200;
    color: black;
}

.title-link{
  padding: 10px;
  width: 100%;
  color: black;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.youtube-link{

    padding: 10px;
    width: 100%;
    border: solid 1px #dcdcdc;
    color: black;
    transition: box-shadow 0.3s, border 0.3s;

}

input[type=text]{
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
}

/* navbar */
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    opacity: 0.8;
    border-radius:0;
}

.custom{
    color:#fff;
    font-weight: 200;
    font-size: 25px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    font-size: 18px !important;
}

a:hover {
    background-color: green !important;
    color: white;
}
